html, body {
  margin:0px;
  padding: 0px;
}
*{
  box-sizing: border-box;
}
.container-main {  
  height: 100vh;
  display: grid;
  grid-template-columns: 0.5fr 1.5fr;
  grid-template-rows: 1.6fr 0.4fr;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "main-content canvas"
    "main-content some-content";
}

.main-content { 
  grid-area: main-content; 
  width: 40vw;
}

.canvas {
  grid-area: canvas; 
  width: 60vw;
}
canvas{
 
  height: 85vh;
}
.some-content { 
  grid-area: some-content;
  align-content: center;
 }
